<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AulaServlet</servlet-name>
        <servlet-class>UFJF.Aula2Servlet</servlet-class>
        <init-param>
            <param-name>usuario</param-name>
            <param-value>teste</param-value>
        </init-param>
        <init-param>
            <param-name>senha</param-name>
            <param-value>teste</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Aula1Servlet</servlet-name>
        <servlet-class>UFJF.Aula1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aula2Servlet</servlet-name>
        <servlet-class>UFJF.Aula2Servlet</servlet-class>
        <init-param>
            <param-name>usuario</param-name>
            <param-value>teste</param-value>
        </init-param>
        <init-param>
            <param-name>senha</param-name>
            <param-value>teste</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Aula3Servlet</servlet-name>
        <servlet-class>UFJF.Aula3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AulaServlet</servlet-name>
        <url-pattern>/AulaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aula1Servlet</servlet-name>
        <url-pattern>/Aula1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aula2Servlet</servlet-name>
        <url-pattern>/Aula2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aula3Servlet</servlet-name>
        <url-pattern>/Aula3Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
